<!DOCTYPE html>
<html>

<head>
    <title>Student2 Page</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Student2 Home Page</h1>
    <p>Welcome, <%= user.name %>!</p>
</body>

</html>