<!DOCTYPE html>
<html>

<head>
    <title>Student1 Page</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <h1>Student1 Home Page</h1>
    <p>Welcome, Student1!</p>
</body>

</html>